body {
    background-image: url("/images/train.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    height: 100%;
    margin: 5%;
    padding: 2%;
}

.HomeContainer {
    background: rgb(29, 21, 48);
    color: rgb(0, 0, 0);
    max-width: 80%;
    margin: auto;
    border: 10px solid black;
    border-radius: 10px;
    position: relative;
    opacity: 75%;
    padding: 10px;
    font-weight: bolder;
    border: 1px solid black;
    /* text-decoration: none; */
  }
  